html, body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;

  /* Flex para mantener footer abajo */
  display: flex;
  flex-direction: column;
}

body > main {
  flex: 1;
}

nav {
  background-color: #222;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 12px;
  font-weight: bold;
  font-size: 0.95rem;
}

nav a:hover {
  text-decoration: underline;
}

.nav-left,
.nav-right {
  display: flex;
  align-items: center;
}

#buscar-form {
  position: relative;
  margin-right: 20px;
}

#buscar {
  width: 160px;
  height: 30px;
  padding: 5px 30px 5px 12px;
  border: none;
  border-radius: 20px;
  background-color: white;
  color: black;
  font-size: 0.85rem;
  outline: none;
  box-shadow: none;
  transition: background-color 0.3s ease;
}

#buscar:hover,
#buscar:focus {
  background-color: #f1f1f1;
}

#buscar::placeholder {
  color: #666;
}

.icono-busqueda {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #666;
  font-size: 0.9rem;
  pointer-events: none;
}

.carrito-icono {
  position: relative;
  font-size: 1.2rem;
  color: white;
  cursor: pointer;
}

.carrito-contador {
  position: absolute;
  top: -6px;
  right: -10px;
  background-color: red;
  color: white;
  font-size: 0.75rem;
  padding: 2px 6px;
  border-radius: 50%;
  font-weight: bold;
}

header {
  text-align: center;
  margin-top: 20px;
}

.grid-productos {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.producto {
  border: 1px solid #ccc;
  padding: 15px;
  width: 250px;
  text-align: center;
  border-radius: 8px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 430px;
  box-sizing: border-box;
  justify-content: space-between;
  overflow: hidden;
}

.producto img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
}

.producto h3 {
  font-size: 1rem;
  margin: 0;
  max-height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.producto p {
  font-size: 1.0rem;
  margin: 15px 0;
  max-height: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.producto form {
  margin-top: auto;
  width: 100%;
}

.producto button {
  width: 100%;
  margin-top: 10px;
  padding: 8px 15px;
  border: none;
  background-color: #222;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.producto button:hover {
  background-color: #444;
}

footer {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 25px 10px;
  font-size: 0.9rem;
  margin-top: 60px;
}

